/* common shared styles */
body {
    font-family: 'Lato', sans-serif;
}

.primary-text {
    color: #E55473;
}

.primary-button {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
}

/* nav related styles, this extra navigation bar section included for bonus marks. */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
}

.nav-title {
    color: #272727;
    font-size: 45px;
    font-weight: 900;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #272727;
}

/* header related styles */
.header {
    background-color: rgba(229, 84, 115, 0.10);
    ;
}

.banner {
    padding: 0px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner-content {
    max-width: 708px;
}

.banner-title {
    color: #272727;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 0px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0px;
}

.banner-photo {
    width: 635px;
}

/* main section styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* our featured flowers styles */

.featured-title {
    margin-top: 178px;
    margin-bottom: 0px;
}

.featured-description {
    margin-top: 24px;
}

.featured-block-container {
    display: flex;
    gap: 24px;
}

.featured-block {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    align-items: center;
    justify-content: space-between;
}

.bolck-1 {
    background-color: rgba(167, 33, 98, 0.15);
    background-image: url(../assets/pngwing\ 6.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.block-2 {
    background-color: rgba(5, 151, 160, 0.15);
    background-image: url(../assets/pngwing\ 5.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.block-3 {
    background-color: rgba(71, 125, 17, 0.15);
    background-image: url(../assets/pngwing\ 7.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.block-name-container {
    display: flex;
    gap: 307px;
    align-items: center;
    justify-content: space-between;
    margin-left: 141px;
    margin-right: 141px;
}

.block-name {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
}

/* support section */
.support {
    display: flex;
    justify-content: space-around;
    padding: 80px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 130px auto;
}

.support-info {
    text-align: center;
}

/* hot deal section styles */

.hot-deal-banner {
    padding: 100px 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-deal-content {
    max-width: 600px;
    align-content: center center;
    text-align: center;
}

/* instagram  section styles */
.insta-img {
    
}
.insta{
    display: flex;
    list-style: none;
}
.insta-li{
    margin-left: 10px;
}

/* get latest deal section styles */
.subscribe{
    background-image: url(../assets/Rectangle\ 9.png);
    background-repeat: no-repeat;
}
.sub-title{
    padding-top: 122px;
}
.email{
    padding: 22px 512px 22px 22px;
}
.email-sub{
    margin-left: 290px;
    padding-bottom: 120px;
}